body {
    margin-top: 130px;

    
}
main {
    position: relative;
    height: 60rem;
}

.hidden {
    display: none;
}
form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 600px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
}

#formLogin {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form input {
    padding: 0.5rem;
    border: 2px solid;
    border-image: linear-gradient(0.25turn, #007acc, #545454);
    border-image-slice: 1;
    width:100%;
    font-size: 1.1em;
}

.registration-title{
    display: flex;
    margin-bottom: 2.5rem;
}
.registration-title h2{
    margin: 0 2rem;
    letter-spacing: 0.3rem;
    font-size: 2.2em;
    color: #545454;
}
.registration-title img {
    height: 60px;
}
.registration-title-pizzaicon1 {
    transform: rotate(-45deg);
}
.registration-title-pizzaicon2{
    transform: rotate(45deg);
}


.registration-name {
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;
}


.registration-aszf {
    display: flex;
    margin-top: 2rem;
    color: #898989;
}
.registration-aszf input {
    padding: 0;
    width: 15px;
    margin-right: 0.7rem;
}

.registration-account p {
    color: #898989;
    font-style: italic;
}
.registration-account input {
    padding: 1rem;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    font-weight: 600;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #007acc;
    border-radius: 30px;
    color: white;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    
}
.registration-account {
    margin-top: 1rem;
    font-size: 1.05em;
}

.registration-account a {
    margin-left: 0.2rem;
    color: #007acc;
    cursor: pointer;
    text-decoration: underline;
}

.registration-label label{
    font-size: 1.15em;
    font-weight: 300;
    color: #545454;
    margin-right: 1rem;
    font-style: italic;
}
.registration-label {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.gender {
    margin-left: 22rem;
}
.firstname {
    margin-right: 3rem;
}
.registration-date-gender {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.registration-error {
    color: red;
    font-weight: bold;
}
#gender {
    padding: 0.5rem;
    font-size: 1.1rem;
    color: #545454;
}
#date {
    color: #545454;
    width: fit-content;
}



@media screen and (max-width: 650px) {
    .form {
        width: 300px;
    }
    .form input {
        font-size: 1em;
    }
    
    .registration-title h2 {
        margin: 0 1rem;
    }
    .registration-title img {
        height: 35px;
    }
    #gender {
        font-size: 1em;
    }
    .gender {
        margin-left: 4.5rem;

    }
    .registration-aszf p {
        white-space: nowrap;
        font-size: 0.9em;
    }
}
@media screen and (max-width: 500px) {
    .form {
        width: 200px;
    }
    .form input {
        font-size: 0.9em;
    }
    
    .registration-title h2 {
        margin: 0rem;
        font-size: 1.5em;
    }
    .registration-title img {
        height: 35px;
    }
    .registration-label label {
        font-size: 1em;
    }
    #gender {
        font-size: 0.7em;
    }
    .gender {
        margin-left: 1rem;
    }
    .firstname {
        margin-right: 1rem;
    }
    .registration-aszf p {
        white-space: nowrap;
        font-size: 0.65em;
    }
    .registration-account button {
        font-size: 1em;
    }
    .registration-account a,
    .registration-account p{
        font-size: 0.8em;
    }
}